html,
body {
  /*background-color: #1D2328;*/
  height: 100%;
  min-width: 380px;
  /*padding: 0;*/
  /*margin: 0;*/
  font-family: 'Roboto', sans-serif;
}

input[type=number] {
    border: 2px solid #3377cc;
    border-radius: 4px;
    background-color: #3377cc;
    font-size: 54px;
    overflow: hidden;
    max-width: 100px;
    color: white;
    height: auto;
}

input[type=text] {
    border: 2px solid #3377cc;
    border-radius: 4px;
    background-color: #3377cc;
    font-size: 54px;
    overflow: hidden;
    max-width: 100px;
    color: white;
    height: auto;
}

#ruler {
    width: 100%
    height: 50px;
    background-color: #F8CC46;
    background-image: url("images/ruler.png");
    background-repeat: repeat-x;
    background-size: contain;
    color: black;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F8CC46; /* Green background */
    /*background: url('images/globe.ico');*/
    cursor: pointer; /* Cursor on hover */
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    height: auto;
    /*background-color: #E2EBFB;*/
    overflow: hidden;
    font-size: 16px;
}

.microphone {
    padding: 4px 10px 4px 10px;
    /*background-color: #C7291D;*/
    background-color: #4377C6;
    border-radius: 12px;
    color: white;
    opacity: 50;
}

.language select {
    color: white;
    text-decoration-color: #C7291D;
    background: transparent;
    width: 190px;
    /*max-width: 90px;*/
    /*padding: 5px; */
    /*font-size: 16px;*/
    /*line-height: 1;*/
    border: 0;
    border-radius: 0;
    /*height: 34px;*/
    -webkit-appearance: none;
    /*color: #000;*/
    /*color: black;*/


    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    /*color: #ffffff;*/
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 100;
    /*line-height: 58px;      */
    /*margin: 0 0 58px;*/
}

/*.dialect select {*/
    /*background-image: url("images/house.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right center;*/
    /*background-size: 30px 30px;*/
    /*height: 34px;*/
    /*background-color: red;*/
/*}*/

.title {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: lighter;
    font-size: 20pt;
    text-align: center;
    color: white;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 200px;
    min-height: 100%;
}

.item {
    margin: 5px;
    flex-grow: 1;
    min-width: 350px;
}

#left {
    /*min-height: 400px;*/
    background-color: #F5F5F5;
    min-width: 65%;
    min-height: 60%;
    /*flex-grow: 2;*/
    border-radius: 10px;
}
#right {
    /*background-color: #1D2328;*/
    background-color: #315BE1;
    color: white;
    border-radius: 10px;
    /*flex-grow: 1;*/
}
.leftHeader {
    text-align: left;
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}
.leftText {
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
}
.rightHeader {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px;
}
.rightText {

    text-align: center;
    /*color: #adb7bd;*/
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}
.headerImage {
    padding: 20px;
    max-width: 20%;
}
.pictureArea {
    padding-top: 40%;
    min-height: inherit;
}
.blackTextContent {
    /*border:10px solid red;*/
    /*display:flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    text-align: center;
    padding-top: 15%;

}

.borderLine {
    justify-content: center;
    width: inherit;
    border:5px solid #E0EBFD;
}
.translation {
    height: 50px;
    /*background-color: antiquewhite;*/
    flex-grow: 1;
    flex: 1;

}
.pictureArea {
    height: 60%;
    /*background-color: aqua;*/
    flex-grow: 1;
    flex: 1;
}

.controlArea {
    font-size: 100%;
    display:inline-block;
}

.rotate0 {
    /*background: antiquewhite;*/
    transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
}
.rotate90 {
    /*background: antiquewhite;*/
    transform: rotate(90deg);
    transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
}
.rotate180 {
    /*background: antiquewhite;*/
    transform: rotate(180deg);
    transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
}
.rotate270 {
    /*background: antiquewhite;*/
    transform: rotate(270deg);
    transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
}
.arrows {
    /*background: antiquewhite;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    opacity: 1;
    transition: 1s opacity;
}